$navy: #0068ab;
$navy-gray: #0072bc;

$blue: #00b3df;
$blue-dark: #00a1c8;

$purple: #c41e5d;
$purple-dark: #b61250;

$yellow: #f8ae2e;
$green: #41a25d;

$white: #fff;
$white-1: #f9fafa;
$white-2: #f8f8f8;

$gray: #cacaca;
$gray-1: #8f999d;
$gray-2: #6d797d;

$black: #383636;
